﻿<div class="jumbotron">
    <p><a href="/customers" class="btn btn-primary btn-lg">Customers &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Structured used</h2>
        <p><ul>
        <li> customers\</li>
               <li>customers\{customerid} </li> 
               <li>customers\{customerid}\orders </li> 
               <li>customers\{customerid}\orders\{orderid}</li> 
            </ul></p>
    </div>
</div>
